body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #f8f9fa;
  color: #333;
}

header {
  background: #6c63ff;
  color: #f8f9fa;
  padding: 1em;
  text-align: center;
}
header h1:nth-of-type(2) {
  font-size: 1.4em;
  margin-top: -5px;
  font-weight: 500;
  color: white;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #6c63ff;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

a {
  color: #6c63ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: #e0e0e0;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}